Repository tsmarsh/meshql: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, repos, server, auth

Upgrading logging
  core/pom.xml
  pom.xml
  repos/sqlite/pom.xml
Due: repos

Less test output
  core/src/test/resources/logback-test.xml
  pom.xml
  repos/mongo/src/test/resources/logback-test.xml
  repos/postgres/src/test/resources/logback-test.xml
  server/src/test/resources/logback-test.xml
Due: none

parallel tests
  .github/workflows/ci.yml
  pom.xml
Due: none

Added performance tests
  api/graphlette/pom.xml
  api/graphlette/src/main/java/com/meshql/api/graphql/Graphlette.java
  examples/farm/Dockerfile
  examples/farm/README.md
  examples/farm/config/config.conf
  examples/farm/config/graph/coop.graphql
  examples/farm/config/graph/farm.graphql
  examples/farm/config/graph/hen.graphql
  examples/farm/config/graph/lay_report.graphql
  examples/farm/config/json/coop.schema.json
  examples/farm/config/json/farm.schema.json
  examples/farm/config/json/hen.schema.json
  examples/farm/config/json/lay_report.schema.json
  examples/farm/cucumber.js
  examples/farm/docker-compose.yml
  examples/farm/package.json
  examples/farm/performance/.gitignore
  examples/farm/performance/DATALOADER_ANALYSIS.md
  examples/farm/performance/PERFORMANCE.md
  examples/farm/performance/README.md
  examples/farm/performance/scripts/generate-test-data.js
  examples/farm/performance/scripts/run-perf-tests.sh
  examples/farm/performance/scripts/wait-for-services.sh
  examples/farm/performance/test-plans/example-full-graph.jmx
  examples/farm/performance/test-plans/example-graphql-only.jmx
  examples/farm/performance/test-plans/example-graphql-simple.jmx
  examples/farm/performance/test-plans/example-mixed-workload.jmx
  examples/farm/performance/test-plans/example-stress-queries.jmx
  examples/farm/pom.xml
  examples/farm/src/main/java/com/meshql/examples/farm/Main.java
  examples/farm/test/config.ts
  examples/farm/test/farm.spec.ts
  examples/farm/test/features/farm.feature
  examples/farm/test/steps/farm_steps.ts
  examples/farm/test/support/hooks.ts
  examples/farm/test/support/world.ts
  examples/farm/tsconfig.json
  examples/farm/vitest.config.ts
  pom.xml
Due: api

You can now configure the graphlettes to resolve with a graphlette we know to be local
  api/graphlette/src/main/java/com/meshql/api/graphql/DTOFactory.java
  api/graphlette/src/main/java/com/meshql/api/graphql/Graphlette.java
  api/graphlette/src/test/java/com/meshql/api/graphql/DTOFactoryTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/GraphletteIntegrationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/InternalResolverIntegrationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/InternalResolverTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/NestedResolverTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/ResolverInvocationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/RootTest.java
  cert/src/main/java/com/meshql/cert/FarmEnv.java
  core/src/main/java/com/meshql/core/config/InternalSingletonResolverConfig.java
  core/src/main/java/com/meshql/core/config/InternalVectorResolverConfig.java
  core/src/main/java/com/meshql/core/config/RootConfig.java
  examples/farm/src/main/java/com/meshql/examples/farm/Main.java
  server/src/main/java/com/meshql/server/Server.java
  server/src/test/java/com/meshql/server/ServerTest.java
Due: core, api, server

adding moth
  .moth/config.yml
  .moth/doing/.gitkeep
  .moth/done/.gitkeep
  .moth/ready/.gitkeep
Due: none

Add DataLoader support with feature flag for batched resolver calls
  api/graphlette/pom.xml
  api/graphlette/src/main/java/com/meshql/api/graphql/DTOFactory.java
  api/graphlette/src/main/java/com/meshql/api/graphql/DataLoaderFactory.java
  api/graphlette/src/main/java/com/meshql/api/graphql/Graphlette.java
  api/graphlette/src/main/java/com/meshql/api/graphql/SingletonResolver.java
  api/graphlette/src/main/java/com/meshql/api/graphql/SubgraphClient.java
  api/graphlette/src/main/java/com/meshql/api/graphql/VectorResolver.java
  api/graphlette/src/test/java/com/meshql/api/graphql/DTOFactoryTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/InternalResolverIntegrationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/InternalResolverTest.java
  core/src/main/java/com/meshql/core/config/RootConfig.java
  server/src/main/java/com/meshql/server/Server.java
Due: core, api, server

Ran perf tests... eh
  api/graphlette/src/main/java/com/meshql/api/graphql/DTOFactory.java
  api/graphlette/src/main/java/com/meshql/api/graphql/DataLoaderFactory.java
  examples/farm/README.md
  examples/farm/docker-compose.yml
Due: api

Add JWT authentication support
  README.md
  auth/jwt/pom.xml
  auth/jwt/src/main/java/com/meshql/auth/jwt/JWTSubAuthorizer.java
  auth/jwt/src/main/java/com/meshql/auth/jwt/package-info.java
  auth/jwt/src/test/java/com/meshql/auth/jwt/JWTSubAuthorizerTest.java
Due: auth

Add Casbin authorization support
  README.md
  auth/casbin/pom.xml
  auth/casbin/src/main/java/com/meshql/auth/casbin/CasbinAuth.java
  auth/casbin/src/main/java/com/meshql/auth/casbin/package-info.java
  auth/casbin/src/test/java/com/meshql/auth/casbin/CasbinAuthTest.java
  auth/casbin/src/test/resources/model.conf
  auth/casbin/src/test/resources/policy.csv
Due: auth

Upgrade to Jetty 12 with virtual thread support
  README.md
  api/graphlette/pom.xml
  api/graphlette/src/test/java/com/meshql/api/graphql/GraphletteIntegrationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/NestedResolverTest.java
  api/restlette/pom.xml
  api/restlette/src/test/java/com/meshql/api/restlette/RestletteIntegrationTest.java
  server/pom.xml
  server/src/main/java/com/meshql/server/Server.java
Due: api, server

Fix JMX stress test with valid entity IDs
  examples/farm/performance/test-plans/example-stress-queries.jmx
Due: none

Add claude-extension.md for AI agent integration
  claude-extension.md
Due: none

Dog fooding integration guide
  CLAUDE.md
Due: none

Add events CDC example with performance tests
  examples/events/Dockerfile
  examples/events/config/graph/event.graphql
  examples/events/config/graph/processedevent.graphql
  examples/events/config/json/event.schema.json
  examples/events/config/json/processedevent.schema.json
  examples/events/docker-compose.yml
  examples/events/performance/.gitignore
  examples/events/performance/README.md
  examples/events/performance/RESULTS.md
  examples/events/performance/cdc-latency-batch.k6.js
  examples/events/performance/cdc-latency-http.k6.js
  examples/events/performance/cdc-latency-kafka.k6.js
  examples/events/performance/cleanup-and-restart.sh
  examples/events/pom.xml
  examples/events/src/main/java/com/meshql/examples/events/Main.java
  examples/events/src/main/java/com/meshql/examples/events/RawToProcessedProcessor.java
  examples/events/src/test/java/com/meshql/examples/events/EventsBddTest.java
  pom.xml
Due: none

Add fluent builder pattern to all config classes
  core/src/main/java/com/meshql/core/Config.java
  core/src/main/java/com/meshql/core/config/GraphletteConfig.java
  core/src/main/java/com/meshql/core/config/InternalSingletonResolverConfig.java
  core/src/main/java/com/meshql/core/config/InternalVectorResolverConfig.java
  core/src/main/java/com/meshql/core/config/QueryConfig.java
  core/src/main/java/com/meshql/core/config/RestletteConfig.java
  core/src/main/java/com/meshql/core/config/RootConfig.java
  core/src/main/java/com/meshql/core/config/SingletonResolverConfig.java
  core/src/main/java/com/meshql/core/config/VectorResolverConfig.java
  examples/farm/src/main/java/com/meshql/examples/farm/Main.java
Due: core

Migrate all config usage to fluent builder pattern
  api/graphlette/src/test/java/com/meshql/api/graphql/DTOFactoryTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/GraphletteIntegrationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/InternalResolverIntegrationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/InternalResolverTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/NestedResolverTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/ResolverInvocationTest.java
  api/graphlette/src/test/java/com/meshql/api/graphql/RootTest.java
  api/restlette/src/test/java/com/meshql/api/restlette/RestletteIntegrationTest.java
  cert/src/main/java/com/meshql/cert/FarmEnv.java
  examples/events/src/main/java/com/meshql/examples/events/Main.java
  server/src/test/java/com/meshql/server/ServerTest.java
Due: none

Update dependencies to latest stable versions
  api/graphlette/pom.xml
  api/restlette/pom.xml
  cert/pom.xml
  core/pom.xml
  examples/events/pom.xml
  examples/farm/pom.xml
  pom.xml
  repos/certification/pom.xml
  repos/memory/pom.xml
  repos/mongo/pom.xml
  server/pom.xml
Due: api, repos

Fix CVE in kafka-clients by updating to 3.9.1
  examples/events/pom.xml
Due: none

Upgrade Testcontainers from 1.20.4 to 2.0.2
  examples/events/pom.xml
  examples/events/src/test/java/com/meshql/examples/events/EventsBddTest.java
  pom.xml
  repos/postgres/pom.xml
  repos/postgres/src/test/java/com/meshql/repositories/postgres/PostgresFarmHooks.java
  repos/postgres/src/test/java/com/meshql/repositories/postgres/PostgresPluginHooks.java
  repos/postgres/src/test/java/com/meshql/repositories/postgres/PostgresRepositoryTest.java
  repos/postgres/src/test/java/com/meshql/repositories/postgres/PostgresSearcherTest.java
Due: repos

Add GitHub Pages documentation site
  .github/workflows/pages.yml
  docs/Gemfile
  docs/_config.yml
  docs/architecture/data-ownership.md
  docs/architecture/design-decisions.md
  docs/architecture/federation.md
  docs/architecture/hard-parts.md
  docs/architecture/index.md
  docs/architecture/scalability.md
  docs/concepts/auth.md
  docs/concepts/envelope.md
  docs/concepts/index.md
  docs/concepts/meshobj.md
  docs/concepts/temporal.md
  docs/examples/events.md
  docs/examples/farm.md
  docs/examples/index.md
  docs/getting-started.md
  docs/index.md
  docs/reference/configuration.md
  docs/reference/graphql-api.md
  docs/reference/index.md
  docs/reference/rest-api.md
  docs/reference/storage.md
Due: none

Remove duplicate Jekyll Pages workflow
  .github/workflows/jekyll-gh-pages.yml
Due: none

Add GitHub Actions workflow for Jekyll deployment
  .github/workflows/jekyll-gh-pages.yml
Due: none

Add operational blueprints and refine design decisions
  docs/architecture/design-decisions.md
  docs/architecture/hard-parts.md
  docs/reference/blueprints.md
Due: none

Emphasize no-POJO design as core differentiator
  docs/architecture/design-decisions.md
  docs/index.md
Due: none

Document REST-writes/GraphQL-reads split as core design choice
  docs/architecture/design-decisions.md
  docs/index.md
Due: none

Document database-as-queue as core architectural pattern
  docs/architecture/design-decisions.md
  docs/architecture/hard-parts.md
  docs/index.md
Due: none

Add decentralized vs centralized federation comparison
  docs/architecture/federation.md
Due: none

Add query patterns reference with range, cursor, and pagination examples
  docs/reference/query-patterns.md
Due: none

Implement limit as a reserved argument in Searcher.findAll
  repos/certification/src/main/java/com/meshql/repos/certification/SearcherCertification.java
  repos/memory/src/main/java/com/meshql/repositories/memory/InMemorySearcher.java
  repos/memory/src/test/java/com/meshql/repositories/memory/InMemorySearcherCertificationTest.java
  repos/mongo/src/main/java/com/meshql/repositories/mongo/MongoSearcher.java
  repos/postgres/src/main/java/com/meshql/repositories/postgres/PostgresSearcher.java
  repos/rdbms/src/main/java/com/meshql/repositories/rdbms/RDBMSSearcher.java
  repos/sqlite/pom.xml
  repos/sqlite/src/main/java/com/meshql/repos/sqlite/SQLiteSearcher.java
  repos/sqlite/src/test/java/com/meshql/repos/sqlite/SQLiteSearcherCertificationTest.java
Due: repos

Document limit feature, temporal consistency guarantees, and custom auth
  docs/concepts/auth.md
  docs/concepts/temporal.md
  docs/reference/query-patterns.md
Due: none

Production hardening: connection pooling, error sanitization, health checks, config validation, and configurable timeouts
  api/graphlette/src/main/java/com/meshql/api/graphql/DTOFactory.java
  api/graphlette/src/main/java/com/meshql/api/graphql/DataLoaderFactory.java
  api/graphlette/src/main/java/com/meshql/api/graphql/Graphlette.java
  api/graphlette/src/main/java/com/meshql/api/graphql/SubgraphClient.java
  api/restlette/src/main/java/com/meshql/api/restlette/CrudHandler.java
  api/restlette/src/main/java/com/meshql/api/restlette/Restlette.java
  core/src/main/java/com/meshql/core/Config.java
  core/src/main/java/com/meshql/core/Plugin.java
  core/src/main/java/com/meshql/core/config/GraphletteConfig.java
  core/src/main/java/com/meshql/core/config/RestletteConfig.java
  repos/mongo/src/main/java/com/meshql/repositories/mongo/MongoPlugin.java
  repos/postgres/src/main/java/com/meshql/repositories/postgres/PostgresConfig.java
  repos/postgres/src/main/java/com/meshql/repositories/postgres/PostgresPlugin.java
  repos/sqlite/src/main/java/com/meshql/repos/sqlite/SQLitePlugin.java
  server/src/main/java/com/meshql/server/Server.java
  server/src/test/java/com/meshql/server/ServerTest.java
Due: core, api, repos, server

Add BSL 1.1 license template with Maven resource filtering
  AGENTS.md
  LICENSE.template
  pom.xml
Due: none

Add code examples to landing page and expand example documentation
  docs/examples/events.md
  docs/examples/farm.md
  docs/index.md
Due: none

Add SwiftShip logistics case study to docs site
  docs/examples/index.md
  docs/examples/logistics.md
  docs/index.md
Due: none

Lead with build time: under 30 minutes for the full logistics app
  docs/examples/logistics.md
Due: none

Add detailed READMEs, fix frontend GraphQL migration, integrate screenshots into docs
  README.md
  docs/assets/images/logistics/admin-dashboard.png
  docs/assets/images/logistics/customer-tracking.png
  docs/assets/images/logistics/reporting-dashboard.png
  docs/examples/logistics.md
  examples/events/README.md
  examples/farm/README.md
  examples/logistics/README.md
  examples/logistics/admin-app/index.html
  examples/logistics/admin-app/js/app.js
  examples/logistics/config/graph/package.graphql
  examples/logistics/config/graph/shipment.graphql
  examples/logistics/config/graph/tracking_update.graphql
  examples/logistics/config/graph/warehouse.graphql
  examples/logistics/pom.xml
  examples/logistics/reporting-app/index.html
  examples/logistics/reporting-app/js/app.js
  examples/logistics/seed/seed.sh
  examples/logistics/src/main/java/com/meshql/examples/logistics/Main.java
  examples/logistics/src/test/java/com/meshql/examples/logistics/ScreenshotTest.java
Due: none

Skip logistics and legacy BDD/screenshot tests in CI
  examples/legacy/src/test/java/com/meshql/examples/legacy/LegacyBddTest.java
  examples/logistics/src/test/java/com/meshql/examples/logistics/LogisticsBddTest.java
  examples/logistics/src/test/java/com/meshql/examples/logistics/ScreenshotTest.java
Due: none

Path conditions:
  core: any of: core/src/main/, but not: **/test/**, **/src/test/**, **/*Test.java, **/*Tests.java, **/target/**
  api: any of: api/, but not: **/test/**, **/src/test/**, **/*Test.java, **/*Tests.java, **/target/**
  repos: any of: repos/, but not: **/test/**, **/src/test/**, **/*Test.java, **/*Tests.java, **/target/**
  server: any of: server/src/main/, but not: **/test/**, **/src/test/**, **/*Test.java, **/*Tests.java, **/target/**
  auth: any of: auth/, but not: **/test/**, **/src/test/**, **/*Test.java, **/*Tests.java, **/target/**
